/* Gear Icons for ratings */
svg.rating-icon{
    width:4rem;
    max-height: 4rem;
    transition: fill 0.3s ease;
    /* Grey out non-active ones */
    &:hover, &.hovered {
        cursor: pointer;
        fill: rgba(242, 184, 75, 0.25);
    }
    &:not(.hovered){
        fill: #18201f;
    }

    /* Illuminate for active icons */
    &.active {
        fill: #f2b84b;
    }
    
}

/*  Scale tags */
#scale_tags p{
    flex:1;
    /* left align left-most tag */
    &:nth-child(1) { text-align:left; }
    /* center align center tag */
    &:nth-child(2) { text-align:center; }
    /* right align right-most tag */
    &:nth-child(3) { text-align:right; }
}

/*  form tuhat appears after clicking rating icon */
div#rating_form_div{
    transition:opacity 0.5s ease;
}